<div class="hero">
<br />
  <div class="frosty col-10 offset-1 text-center ">
    <br />
    <h1>Learn Javascript from other coders</h1>
    <br />
    <h2>Videos for coders of all levels!</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
